<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<!-- Required meta tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Document</title>
	</head>
	<body>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SSI CAFE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-5 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/connected">Credential</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/food">Order</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </div>
            </div>
        </nav>

		<div class="container px-4 py-5" id="featured-3">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center
                        ">
                            <div class="page-section">
                                <h1 class="page-title">Food Menu</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- starter -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                            <div class="menu-block">
                                <h3 class="menu-title">Breakfast</h3>
                                <div class="menu-content">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="rounded-circle"></a></div>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <div class="dish-content">
                                                <h5 class="dish-title"><a href="#">Dish 01</a></h5>
                                                <span class="dish-meta">Onion  /  Tomato</span>
                                                <div class="dish-price">
                                                <p style="margin-bottom: 0;">$10</p>
                                                <button style="border: 1px solid; width: 70px">Buy</button>
                                            </div>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                                <div class="menu-content">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="rounded-circle"></a></div>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <div class="dish-content">
                                                <h5 class="dish-title"><a href="#">Cheese Balls</a></h5>
                                                <span class="dish-meta">puffed corn  /  cheese-flavored  </span>
                                                <div class="dish-price">
                                                    <p style="margin-bottom: 0;">$8</p>
                                                    <button style="border: 1px solid; width: 70px">Buy</button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="menu-content">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="rounded-circle"></a></div>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <div class="dish-content">
                                                <h5 class="dish-title"><a href="#">Veg Crispy</a> </h5>
                                                <span class="dish-meta">Ginger garlic /  Black pepper</span>
                                                <div class="dish-price">
                                                    <p style="margin-bottom: 0;">$12</p>
                                                    <button style="border: 1px solid; width: 70px">Buy</button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.starter -->
                        <!-- Soup -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                            <div class="menu-block">
                                <h3 class="menu-title">Lunch</h3>
                                <div class="menu-content">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="rounded-circle"></a></div>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <div class="dish-content">
                                                <h5 class="dish-title"><a href="#">Minestrone</a></h5>
                                                <span class="dish-meta"> beans  / onions celery / carrots</span>
                                                <div class="dish-price">
                                                    <p style="margin-bottom: 0;">$15</p>
                                                    <button style="border: 1px solid; width: 70px">Buy</button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="menu-content">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="rounded-circle"></a></div>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <div class="dish-content">
                                                <h5 class="dish-title"><a href="#">Tomato soup</a></h5>
                                                <span class="dish-meta">Cheesiy   / Creamy  /  Sweet</span>
                                                 <div class="dish-price">
                                                    <p style="margin-bottom: 0;">$14</p>
                                                    <button style="border: 1px solid; width: 70px">Buy</button>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="menu-content">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="rounded-circle"></a></div>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <div class="dish-content">
                                                <h5 class="dish-title"><a href="#">Cream of broccoli</a> </h5>
                                                <span class="dish-meta"> broccoli /  milk  / cream </span>
                                                <div class="dish-price">
                                                    <p style="margin-bottom: 0;">$8</p>
                                                    <button style="border: 1px solid; width: 70px">Buy</button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.soup -->
                        <!-- main course -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                            <div class="menu-block">
                                <h3 class="menu-title">Dinner</h3>
                                <div class="menu-content">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="rounded-circle"></a></div>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <div class="dish-content">
                                                <h5 class="dish-title"><a href="#">Biryani</a></h5>
                                                <span class="dish-meta"> Onion  /  Tomato</span>
                                                <div class="dish-price">
                                                    <p style="margin-bottom: 0;">$14</p>
                                                    <button style="border: 1px solid; width: 70px">Buy</button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="menu-content">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="rounded-circle"></a></div>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <div class="dish-content">
                                                <h5 class="dish-title"><a href="#">Butter Chicken</a></h5>
                                                <span class="dish-meta">Spicy / Non-spicy 
                                                </span>
                                                <div class="dish-price">
                                                    <p style="margin-bottom: 0;">$10</p>
                                                    <button style="border: 1px solid; width: 70px">Buy</button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="menu-content">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="dish-img"><a href="#"><img src="http://via.placeholder.com/70x70" alt="" class="rounded-circle"></a></div>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <div class="dish-content">
                                                <h5 class="dish-title"><a href="#">Kacchi</a> </h5>
                                                <span class="dish-meta"> Special  /  Regular  /  Custom </span>
                                                <div class="dish-price">
                                                    <p style="margin-bottom: 0;">$8</p>
                                                    <button style="border: 1px solid; width: 70px">Buy</button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.main Course -->
                    </div>
                   </div>
            </div>
		</div>
	</body>
</html>