<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<!-- Required meta tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<meta name="theme-color" content="#7952b3">
    	<!-- Custom styles for this template -->
    	<link href="signin.css" rel="stylesheet">
        <link href=
'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
          rel='stylesheet'>
		<style>
			.form-signin {
			width: 100%;
			max-width: 330px;
			padding: 15px;
			margin: auto;
			}

			.form-signin .form-floating:focus-within {
			z-index: 2;
			}

			.form-signin input[type="email"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			}
		</style>
		<title>Credential Data</title>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src=https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" ></script>

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">SSI CAFE</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-5 mb-lg-0">
						<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Home</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" href="/connected">Credential</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" href="/food">Order</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" href="/logout">Logout</a>
						</li>
					</div>
				</div>
			</nav>

        <main class="form-signin">
			  <div class="form-floating">
                    <label for="floatingInput">Please fill up the data to generate the VC:</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                    <input type="text" class="form-control" name="address" id="address" placeholder="Address">
                    <input type="text" class="form-control" name="dob" id="dob" placeholder="Date of Birth (DD/MM/YYYY)">
			  </div>
			  <br>
			  <button class="w-10 btn btn-lg btn-primary" type="submit" id="submit">Submit</button>
		</main>

		<script>
			$(document).ready(function () {
                
				$(document).on('click', '#submit', async function(e){ 
                    if (!$('#name').val()) {
            		alert('Enter a name!');
  				}if (!$('#email').val()) {
            		alert('Enter your email address!');
  				} if (!$('#address').val()) {
            		alert('Enter an address!');
  				}if (!$('#dob').val()) {
            		alert('Enter your date of birth!');
  				} else {
                    var name = $('#name').val();
					var email = $('#email').val();
                    var address = $('#address').val();
					var dob = $('#dob').val();
					var form = $("<form/>", 
						{ action: '/offerCredential', method: 'POST' }
					);
					form.append( 
						$('<input>', {type: 'hidden', id: 'name', name: 'name', value: name})
					);
					form.append( 
						$('<input>', {type: 'hidden', id: 'email', name: 'email', value: email}
						)
					);
                    form.append( 
						$('<input>', {type: 'hidden', id: 'address', name: 'address', value: address}
						)
					);
                    form.append( 
						$('<input>', {type: 'hidden', id: 'dob', name: 'dob', value: dob}
						)
					);

					form.appendTo('body').submit();
                  }
					
				});
			});
		
		</script>
	</body>
</html>
